@font-face{
    font-family: "LatoRegular";
    src:local("Lato-Regular"),
        url('./assets/fonts/Lato/Lato-Regular.ttf')
  }

  @font-face{
    font-family: "LatoBlack";
    src:local("Lato-Black"),
        url('./assets/fonts/Lato/Lato-Black.ttf')
  }

@font-face{
    font-family: "MinecraftFive";
    src:local("MinecraftFive-Bold"),
        url('./assets/fonts/MinecraftFive_Bold/MinecraftFive-Bold.ttf')
}

@font-face{
    font-family: "Dorsa";
    src:local("Dorsa-Regular"),
        url('./assets/fonts/Dorsa/Dorsa-Regular.ttf')
}

@font-face{
    font-family: "DroidSans";
    src:local("DroidSans-4Eg4"),
        url('./assets/fonts/Droid_Sans/DroidSans-4Eg4.ttf')
}

@font-face{
    font-family: "OpenSans";
    src:local("OpenSans-Regular"),
        url('./assets/fonts/Open_Sans/static/OpenSans-Regular.ttf')
}